# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.Python

# Virtual environments
venv/
.env

# ----------------------------
# Streamlit
# ----------------------------
.streamlit/

# ----------------------------
# IDEs
# ----------------------------
# VS Code
.vscode/
# PyCharm
.idea/

# ----------------------------
# OS-specific
# ----------------------------
# Mac
.DS_Store
# Windows
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Jupyter (if any)
# ----------------------------
.ipynb_checkpoints/
